<div class="container">
  <div class="list-container">
    @if(isCustom) {
    <div class="custom-input-section">
      <input nz-input [(ngModel)]="userWord" placeholder="输入句子，点击添加按钮，即可完成录入！" />
      <button nz-button nzType="primary" (click)="addCustom(userWord)" [nzLoading]="isLoading" nz-tooltip
        nzTooltipTitle="添加">
        <span nz-icon nzType="plus"></span> 添加
      </button>
    </div>
    }

    <div nz-row [nzGutter]="[16, 16]">
      @for (item of firstSentences; track item.id) {
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
        <nz-card 
          [class.is-known]="item.isKnown" 
          [nzHoverable]="true"
          appHoverSound 
          (soundClick)="handleSound(item, 'us')">
          
          <div class="card-content">
            <div class="word-title-group">
              <span class="word-text">{{ item.sentence_en }}</span>
              @if (item.isKnown) {
              <nz-tag [nzColor]="'success'">已掌握</nz-tag>
              }
            </div>

            <div class="phonetic-group">
              <span class="phonetic">🇺🇸 <nz-icon class="sound-icon" nzType="muted" nzTheme="outline" appHoverSound
                  [hoverTime]="500" (hoverTimeout)="handleSound(item, 'us')"></nz-icon></span>
              <span class="phonetic">🇬🇧 <nz-icon class="sound-icon" nzType="muted" nzTheme="outline" appHoverSound
                  [hoverTime]="500" (hoverTimeout)="handleSound(item, 'uk')"></nz-icon></span>
            </div>

            <div class="definition">{{ item.sentence_zh }}</div>
          </div>

          <div class="card-footer">
            @if(!isCustom) {
            <button nz-button nzType="text" [nzType]="item.isKnown ? 'primary' : 'default'" [nzGhost]="item.isKnown"
              (click)="$event.stopPropagation();markAsKnown(item)" nz-tooltip nzTooltipTitle="标记为认识">
              <span nz-icon nzType="check"></span> 认识
            </button>

            <button nz-button nzType="default" nzDanger (click)="$event.stopPropagation();markAsUnknown(item)" nz-tooltip
              nzTooltipTitle="标记为不认识">
              <span nz-icon nzType="close"></span> 不认识
            </button>
            }

            <button nz-button nzType="primary" (click)="$event.stopPropagation();openPractice(item)">
              <span nz-icon nzType="edit"></span> 练一练
            </button>

            @if(isCustom) {
            <button nz-button nzType="default" nzDanger (click)="$event.stopPropagation();deleteCustomSentence(item)"
              nz-tooltip nzTooltipTitle="删除">
              <span nz-icon nzType="delete"></span> 删除
            </button>
            }
          </div>
        </nz-card>
      </div>
      }

      @defer (on timer(20ms)) {
      @for (item of remainingSentences; track item.id) {
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
        <nz-card 
          [class.is-known]="item.isKnown" 
          [nzHoverable]="true"
          appHoverSound 
          (soundClick)="handleSound(item, 'us')">
          
          <div class="card-content">
            <div class="word-title-group">
              <span class="word-text">{{ item.sentence_en }}</span>
              @if (item.isKnown) {
              <nz-tag [nzColor]="'success'">已掌握</nz-tag>
              }
            </div>

            <div class="phonetic-group">
              <span class="phonetic">🇺🇸 <nz-icon class="sound-icon" nzType="muted" nzTheme="outline" appHoverSound
                  [hoverTime]="500" (hoverTimeout)="handleSound(item, 'us')"></nz-icon></span>
              <span class="phonetic">🇬🇧 <nz-icon class="sound-icon" nzType="muted" nzTheme="outline" appHoverSound
                  [hoverTime]="500" (hoverTimeout)="handleSound(item, 'uk')"></nz-icon></span>
            </div>

            <div class="definition">{{ item.sentence_zh }}</div>
          </div>

          <div class="card-footer">
            @if(!isCustom) {
            <button nz-button nzType="text" [nzType]="item.isKnown ? 'primary' : 'default'" [nzGhost]="item.isKnown"
              (click)="$event.stopPropagation();markAsKnown(item)" nz-tooltip nzTooltipTitle="标记为认识">
              <span nz-icon nzType="check"></span> 认识
            </button>

            <button nz-button nzType="default" nzDanger (click)="$event.stopPropagation();markAsUnknown(item)" nz-tooltip
              nzTooltipTitle="标记为不认识">
              <span nz-icon nzType="close"></span> 不认识
            </button>
            }

            <button nz-button nzType="primary" (click)="$event.stopPropagation();openPractice(item)">
              <span nz-icon nzType="edit"></span> 练一练
            </button>

            @if(isCustom) {
            <button nz-button nzType="default" nzDanger (click)="$event.stopPropagation();deleteCustomSentence(item)"
              nz-tooltip nzTooltipTitle="删除">
              <span nz-icon nzType="delete"></span> 删除
            </button>
            }
          </div>
        </nz-card>
      </div>
      }
      }
    </div>
  </div>

  <nz-modal [(nzVisible)]="isPracticeVisible" [nzTitle]="'口语练习'" (nzOnCancel)="handlePracticeCancel()"
    (nzOnOk)="handlePracticeOk()">
    <ng-container *nzModalContent>
      <p class="modal-desc">释义：{{ practiceWord?.sentence_zh }}</p>
      <input nz-input placeholder="请在此输入..." [(ngModel)]="practiceInput" (keydown.enter)="handlePracticeOk()" />
    </ng-container>
  </nz-modal>
</div>