<!-- statistics.component.html -->
<div class="container">
  <div class="stats-container">
    <div nz-row [nzGutter]="[16, 16]">

      <!-- 词汇统计卡片 -->
      <div nz-col [nzXs]="24" [nzMd]="12">
        <nz-card nzTitle="词汇掌握情况" [nzExtra]="totalWordsTemplate">
          <!-- echarts 指令，自动处理 resize -->
          <div echarts [options]="wordsChartOption" class="chart-container"></div>
        </nz-card>
        <ng-template #totalWordsTemplate>
          <span class="total-tag">Total: {{ statsData.words.mastered + statsData.words.error + statsData.words.unknown +
            statsData.words.custom }}</span>
        </ng-template>
      </div>

      <!-- 句子统计卡片 -->
      <div nz-col [nzXs]="24" [nzMd]="12">
        <nz-card nzTitle="句子掌握情况" [nzExtra]="totalSentencesTemplate">
          <div echarts [options]="sentencesChartOption" class="chart-container"></div>
        </nz-card>
        <ng-template #totalSentencesTemplate>
          <span class="total-tag">Total: {{ statsData.sentences.mastered + statsData.sentences.error +
            statsData.sentences.unknown + statsData.sentences.custom }}</span>
        </ng-template>
      </div>

    </div>
  </div>
</div>