<nz-layout class="app-layout">
  <!-- 
    nzBreakpoint="lg": 屏幕小于 992px 时自动触发收起状态
    nzCollapsedWidth="0": 移动端收起时宽度为0 (完全隐藏)
    nzWidth="256px": 展开时的宽度
  -->
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="lg" [nzCollapsedWidth]="0"
    [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">

    <!-- Logo 区域 -->
    <div class="sidebar-logo">
      <a href="/home">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        
        <!-- 收起时隐藏文字 -->
        <h1 *ngIf="!isCollapsed">首页</h1>
      </a>
    </div>

    <!-- 左侧菜单 -->
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzTitle="场景词汇" nzIcon="read">
        <ul>
          <li nz-menu-item (click)="gotoWord()"><a routerLinkActive="active" ariaCurrentWhenActive="page">学习与学校</a></li>
          <li nz-menu-item>食物</li>
          <li nz-menu-item>住宅</li>
          <li nz-menu-item>购物</li>
          <li nz-menu-item>休闲与娱乐</li>
          <li nz-menu-item>城市与交通</li>
          <li nz-menu-item>健康</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="口语表达" nzIcon="muted">
        <ul>
          <li nz-menu-item (click)="gotoListen()"><a routerLinkActive="active" ariaCurrentWhenActive="page">食物</a></li>
          <li nz-menu-item>住宅</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="去听写" nzIcon="muted">
        <ul>
          <li nz-menu-item (click)="gotoListen()"><a routerLinkActive="active" ariaCurrentWhenActive="page">食物</a></li>
          <li nz-menu-item>住宅</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="用户中心" nzIcon="user">
        <ul>
          <li nz-menu-item (click)="gotoUserSummary()">进度总览</li>
          <li nz-menu-item>错题本</li>
          <li nz-menu-item>生词本</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="AI助教" nzIcon="reddit">
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <!-- 顶部导航 Header -->
    <nz-header>
      <div class="app-header">
        <!-- 左侧：收缩/展开按钮 -->
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>

        <!-- 右侧：功能区 -->
        @if(isShowTopMenu()){
        <div class="header-right">
          <!-- <div class="header-item" nz-dropdown [nzDropdownMenu]="cihui">
            <span nz-icon nzType="read"></span>
            <span class="username">场景词汇</span>
          </div>
           -->
          <!-- <nz-dropdown-menu #cihui="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>学习与学校</li>
              <li nz-menu-item>食物</li>
              <li nz-menu-divider></li>
              <li nz-menu-item>住宅</li>
              <li nz-menu-item>购物</li>
              <li nz-menu-item>休闲娱乐</li>
              <li nz-menu-item>城市与交通</li>
              <li nz-menu-item>健康</li>
            </ul>
          </nz-dropdown-menu> -->
          <div (click)="setLearnModel('learn')" [class]="learnModel=='learn'?'header-item selected':'header-item'">
            <span nz-icon nzType="eye"></span>
            <span class="username">学习模式</span>
          </div>
          <div (click)="setLearnModel('list')" [class]="learnModel=='list'?'header-item selected':'header-item'">
            <span nz-icon nzType="unordered-list"></span>
            <span class="username">列表模式</span>
          </div>
          <div (click)="setLearnModel('listen')" [class]="learnModel=='listen'?'header-item selected':'header-item'">
            <span nz-icon nzType="muted"></span>
            <span class="username">听写模式</span>
          </div>
        </div>
        }
      </div>
    </nz-header>

    <!-- 内容区域 -->
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>

    <!-- <nz-footer>Ant Design Angular 2025 Created by You</nz-footer> -->
  </nz-layout>
</nz-layout>