<nz-layout class="app-layout">
  <!-- 
    nzBreakpoint="lg": 屏幕小于 992px 时自动触发收起状态
    nzCollapsedWidth="0": 移动端收起时宽度为0 (完全隐藏)
    nzWidth="256px": 展开时的宽度
  -->
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="lg"
    [nzCollapsedWidth]="0"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    
    <!-- Logo 区域 -->
    <div class="sidebar-logo">
      <a href="#">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <!-- 收起时隐藏文字 -->
        <h1 *ngIf="!isCollapsed">Ant Design 19</h1>
      </a>
    </div>

    <!-- 左侧菜单 -->
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzTitle="仪表盘" nzIcon="dashboard">
        <ul>
          <li nz-menu-item>分析页</li>
          <li nz-menu-item>监控页</li>
          <li nz-menu-item>工作台</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="系统设置" nzIcon="setting">
        <ul>
          <li nz-menu-item>用户管理</li>
          <li nz-menu-item>角色管理</li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <!-- 顶部导航 Header -->
    <nz-header>
      <div class="app-header">
        <!-- 左侧：收缩/展开按钮 -->
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>

        <!-- 右侧：功能区 -->
        <div class="header-right">
          
          <div class="header-item" nz-dropdown [nzDropdownMenu]="cihui">
            <span nz-icon nzType="read"></span>
            <span class="username">词汇</span>
          </div>
          
          <nz-dropdown-menu #cihui="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>学习与学校</li>
              <li nz-menu-item>食物</li>
              <!-- <li nz-menu-divider></li> -->
              <li nz-menu-item>住宅</li>
              <li nz-menu-item>购物</li>
              <li nz-menu-item>休闲娱乐</li>
              <li nz-menu-item>城市与交通</li>
              <li nz-menu-item>健康</li>
            </ul>
          </nz-dropdown-menu>
          
          <!-- 口语下拉菜单 -->
          <div class="header-item" nz-dropdown [nzDropdownMenu]="kouyu">
            <span nz-icon nzType="audio"></span>
            <span class="username">口语</span>
          </div>
          
          <nz-dropdown-menu #kouyu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>学习与学校</li>
              <li nz-menu-item>食物</li>
              <!-- <li nz-menu-divider></li> -->
              <li nz-menu-item>住宅</li>
              <li nz-menu-item>购物</li>
              <li nz-menu-item>休闲娱乐</li>
              <li nz-menu-item>城市与交通</li>
              <li nz-menu-item>健康</li>
            </ul>
          </nz-dropdown-menu>

          <div class="header-item">
            <span nz-icon nzType="user"></span>
            <span class="username">进度</span>
          </div>
        </div>
      </div>
    </nz-header>

    <!-- 内容区域 -->
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
        <!-- 占位内容演示滚动 -->
      </div>
    </nz-content>
    
    <!-- <nz-footer>Ant Design Angular 2025 Created by You</nz-footer> -->
  </nz-layout>
</nz-layout>