<div class="page-container">

    <!-- 循环渲染三个大板块 -->
    @for (section of sections; track section.name) {
    <div class="section-wrapper">
        <h2 class="section-title">{{ section.name }}</h2>

        <!-- Grid 系统: 移动端间距小(12px)，桌面端间距大(24px) -->
        <nz-row [nzGutter]="[24, 24]">

            @for (item of section.items; track item.id) {
            <!-- 
            Responsive Breakpoints:
            nzXs (Mobile): 24格 (占满)
            nzMd (Tablet): 12格 (一行两个)
            nzLg (Desktop): 8格 (一行三个)
          -->
            <nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6">
                @if(section.name==='场景词汇'){
                    <nz-card nzHoverable [nzCover]="coverTemplate1" nzBordered="true" (click)="gotoWordSubitem('words', item.id, item.name, item.description)">
                    <nz-card-meta [nzDescription]="content1"></nz-card-meta>
                </nz-card>
                }
                @if(section.name==='去听写'){
                    <nz-card nzHoverable [nzCover]="coverTemplate1" nzBordered="true" (click)="gotoWordSubitem('listen', item.id, item.name, item.description)">
                    <nz-card-meta [nzDescription]="content1"></nz-card-meta>
                </nz-card>
                }
                @if(section.name==='口语表达'){
                    <nz-card nzHoverable [nzCover]="coverTemplate1" nzBordered="true" (click)="gotoKouYu(false,item.id)">
                    <nz-card-meta [nzDescription]="content1"></nz-card-meta>
                </nz-card>
                }
                <ng-template #coverTemplate1>
                    <img alt="example" src="assets/images/card_head_business.png" />
                </ng-template>

                <ng-template #content1>
                    <h2 class="card-title">{{ getChineseContentModuleName(item.description) }}</h2>
                    <p class="card-subtitle">{{ getEnglishContentModuleName(item.description) }}</p>
                    <p class="card-description"></p>
                    <div class="card-footer">
                        <!-- <span class="footer-title">点击学习</span> -->
                        <!-- <span class="footer-status">重新开始</span> -->
                        <button nz-button nzType="primary" nzSize="small">点击学习</button>
                    </div>
                </ng-template>
            </nz-col>
            }

        </nz-row>
    </div>
    }

</div>