<div>
  <div style="display: flex; align-items: center; height: 16px;">
    <nz-switch [(ngModel)]="soundEnabled" nzCheckedChildren="音效开" nzUnCheckedChildren="音效关" nzSize="default" />

    <nz-button-group style="margin: 0 2px;">
      <button nz-button nzSize="small">认识</button>
      <button nz-button nzSize="small">不认识</button>
      <!-- <button nz-button nzSize="small">抄写</button> -->
    </nz-button-group>
    <nz-button-group style="margin: 0 2px;"><button nz-button nzSize="small" nzType="primary"><nz-icon nzType="eye" /></button></nz-button-group>
    <nz-switch nzCheckedChildren="英式" nzUnCheckedChildren="美式" nzSize="default" />
  </div>

  <nz-card style="width:300px; margin-top: 1.3rem;" nzTitle="accent">
    <div><span class="region">UK</span><span class="phonetic">/ˈæk.sənt/</span> 
      <span class="region">US</span><span class="phonetic">/ˈæk.sent/</span> 
    </div>
    <div>n. 口音，腔调；土音</div>
    <div>v. 强调;着重;突出</div>
    <div style="display: flex; justify-content: flex-end;">
      <button
        nz-button
        nz-popover
        nzPopoverTitle="Title"
        [nzPopoverContent]="contentTemplate"
        nzPopoverPlacement="right"
      >
        词组
      </button>
      <ng-template #contentTemplate>
      <div>
        <p>Content</p>
        <p>Content</p>
      </div>
    </ng-template>
    </div>
  </nz-card>
  <input nz-input style="margin-top: 1.1rem;" placeholder="请在此输入" nzSize="large" nzBorderless
    [appMechanicalTyping]="soundEnabled" [(ngModel)]="userInput" (keydown.enter)="checkValue()" [class]="statusClass"
    (keyup)="onInput($event)" />

  <nz-card nzHoverable style="margin-top: 12rem;">
    <nz-card-meta [nzDescription]="content"></nz-card-meta>
  </nz-card>
  <ng-template #content>
    <div class="music-player">
      <!-- <div class="track-info">
        <h3>{{ currentTrack.title }}</h3>
        <p>{{ currentTrack.artist }}</p>
      </div> -->

      <div class="controls">
        <button nz-button nzType="default" (click)="playPrev()" nzShape="circle">
          <nz-icon nzType="step-backward" nzTheme="outline" />
        </button>

        <button nz-button nzType="primary" (click)="togglePlayPause()" nzShape="circle">
          <nz-icon [nzType]="isPlaying ? 'pause' : 'caret-right'" nzTheme="outline" />
        </button>

        <button nz-button nzType="default" (click)="playNext()" nzShape="circle">
          <nz-icon nzType="step-forward" nzTheme="outline" />
        </button>

      </div>
    </div>
  </ng-template>

</div>